<o-form-layout-manager attr="accountsHome" title="{{'ACCOUNTS' | oTranslate }}" separator=" " mode="dialog" label-columns="ANID">
  <o-table attr="accountsTable" service="branches" entity="account" keys="ACCOUNTID"
      columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP"
      visible-columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP"
      query-rows="20">
      <o-table-column attr="ACCOUNTID" title="ACCOUNTID" width="120px"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="ENDDATE" title="ENDDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="INTERESRATE" title="INTERESRATE" type="percentage" width="150px"
          decimal-separator=","></o-table-column>
      <o-table-column attr="ENTITYID" title="ENTITYID" width="120px"></o-table-column>
      <o-table-column attr="OFFICEID" title="OFFICEID" width="120px"></o-table-column>
      <o-table-column attr="CDID" title="CDID" width="75px"></o-table-column>
  </o-table>
</o-form-layout-manager>