<o-form attr="employeesDetail" service="employees" entity="employee" keys="EMPLOYEEID" header-actions="R;U;D"
    show-header-navigation="yes">
    <o-integer-input attr="EMPLOYEEID" sql-type="INTEGER" enabled="no"></o-integer-input>
    <div fxLayout="row">
        <div>
            <o-image attr="EMPLOYEEPHOTO" empty-image="assets/images/no-image.png" sql-type="OTHER"></o-image>
        </div>
        <o-column fxFlex title="EMPLOYEE_PERSONAL_INFORMATION">
            <div fxLayout="row" fxLayoutGap="8px">
                <o-text-input fxFlex="40" attr="EMPLOYEENAME" required="yes"></o-text-input>
                <o-text-input fxFlex="40" attr="EMPLOYEESURNAME" required="yes"></o-text-input>
                <o-date-input fxFlex="20" attr="EMPLOYEESTARTDATE"></o-date-input>
            </div>
            <div fxLayout="row" fxLayoutGap="8px">
                <o-text-input fxFlex="40" attr="EMPLOYEEPHONE"></o-text-input>
                <o-text-input fxFlex="40" attr="EMPLOYEEEMAIL"></o-text-input>
                <o-list-picker fxFlex="20" attr="EMPLOYEETYPEID" service="employees" entity="employeeType"
                    keys="EMPLOYEETYPEID" columns="EMPLOYEETYPEID;EMPLOYEETYPENAME" visible-columns="EMPLOYEETYPENAME"
                    value-column="EMPLOYEETYPEID"></o-list-picker>
            </div>
            <div fxLayout="row" fxLayoutGap="8px">
                <o-text-input fxFlex="65" attr="EMPLOYEEADDRESS"></o-text-input>
                <o-combo fxFlex="35" attr="OFFICEID" required="yes" service="branches" entity="branch" keys="OFFICEID"
                    columns="OFFICEID;NAME" visible-columns="NAME" value-column="OFFICEID"></o-combo>
            </div>
            <div fxLayout="row" fxLayoutGap="8px">
                <o-real-input fxFlex="50" attr="LONGITUDE" decimal-separator="," max-decimal-digits="10"
                    min-decimal-digits="0"></o-real-input>
                <o-real-input fxFlex="50" attr="LATITUDE" decimal-separator="," max-decimal-digits="10"
                    min-decimal-digits="0"></o-real-input>
            </div>
        </o-column>
    </div>
</o-form>